.box {
  display: flex;
}

.category-word .box p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #1b1a1e;
  border: 1px solid #ffd31b;
  margin: 10px 0px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 8px 12px;
}

.category-word h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5f5f5f;
  margin-top: 20px;
}

.category-word p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5f5f5f;
  margin-bottom: 64px;
}

/* ... */
